/**
 * Styles for ReMarkdown demo pages
 */
/*! ReMarkdown 3.1.0 (MIT) https://fvsch.github.io/remarkdown/ */
/* includes: all styles; defaults: hn-reset hn-hash ul-hyphen ol-decimal quote-gt em-star strong-star a-bracket code-tick pre-indent hr-star; */
.remarkdown {
  line-height: 1.5;
  font-family: monospace, monospace;
}

.remarkdown h1 { font-size: 1.5em; }
.remarkdown h2 { font-size: 1.2em; }

/* Demo layout and page styles */
@media (min-width: 900px) {
  html {
    background-color: #eee;
  }
}

body {
  max-width: 660px;
  padding: 30px;
  margin: 0 auto;
  color: #202020;
  background-color: white;
}

@media (min-width: 900px) {
  body {
    margin: 30px auto;
    padding: 40px 80px;
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 3px 3px 3px -2px #ddd;
  }
}

a {
  color: #f02050;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid;
}

a:focus,
a:active {
  color: white;
  background-color: #f02050;
}

nav {
  margin: 0 0 4em;
  text-align: right;
}

nav > br {
  display: none;
}

nav > span {
  float: left;
}

@media (max-width: 900px) {
  nav > * {
    display: block;
    padding-bottom: 0.4em;
  }
}


/* Styles page */
#style-list tr > * {
  white-space: nowrap;
}

/* Make the Markdown-like markers look cool */
.remarkdown ::before,
.remarkdown ::after {
  opacity: 0.6;
  color: #205080;
}

/* Our own font-family. Also setting one for code elements */
.remarkdown {
  font-family: Menlo, Monaco, "DejaVu Sans Mono", Consolas, monospace;
}

