<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
  <link rel="shortcut icon" href="/assets/images/favicon.ico">

  <link rel="stylesheet" href="/assets/css/remarkdown.css">
  <link rel="stylesheet" href="/assets/css/highlight.css">
  <link rel="stylesheet" href="/assets/css/style.css">

  <link rel="alternate" type="application/rss+xml" title="Tymon Tobolski" href="/feed.xml">
</head>
<body class="{{ page.class }}">
  <div class="container" data-rmd="hr-center ul-star">
    <header>
      <span><a href="/">Junaid Farooq</a></span>

      <nav>
        <a href="/about">About</a>
      </nav>
    </header>

    <section>
      {{ content }}
    </section>
  </div>
  <footer>
    Copyright 2021 Junaid Farooq
    / Built with <a href="https://fvsch.com/code/remarkdown">ReMarkdown</a>
  </footer>
</body>
</html>
